.albergues{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.linea_albergues{
    width: 600px;
    height: 70px;
    border-radius: 20px;
    background-color: rgba(6, 10, 32, 0.925);
    box-shadow: rgba(0, 0, 0, 0.384) 0px 14px 28px, rgba(0, 0, 0, 0.432) 0px 10px 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 660px;
    
}
.linea_albergues h1{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.albergue{
    width: 100%;
    height: 570px;
    display: flex;
    align-items: center;
    background-color: rgba(11, 182, 125, 0);
    margin-bottom: 50px;
    margin-top: 50px;

}
.Informacion_imagen_albergue{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.imagen_lugar{
    width: 550px;
    height: 500px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: black;
    box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
}
.imagen_lugar img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.informacion_lugar{
    width: 400px;
    height: 550px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgba(3, 3, 95, 0);
}
.Titulo_albergue{
    width: 100%;
    height: 70px;
    margin-top: 10px;
}
.Titulo_albergue h1{
    font-size: 23px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    text-align: end;
    color: rgb(0, 0, 0);
    margin-right:5%;
}
.Horario{
    width: 100%;
    height: 100px;

}
.Horario h2{
    font-size: 20px;
    text-align: end;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    margin-right: 5%;
}
.Horario h1{
    font-size: 20px;
    text-align: end;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    margin-right: 5%;
}
.Horario span{
    color: red;
}
.Mapa iframe{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.direccion{
    width: 100%;
    height: 60px;
    background-color: rgba(250, 235, 215, 0);
}

.direccion h1{
    font-size: 20px;
    text-align: end;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-right: 5%
}
.redes_sociales_albergues{
    width: 96%;
    height: 60px;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0);
    
}

.redes_sociales_albergues img{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.informacion_lugar3{
    width: 400px;
    height: 550px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgba(3, 3, 95, 0);
}

/* aqui se modifica la seccion que esta de lado izquierdo*/
.fondo{
    width: 100%;
    height: 620px;
    background-attachment: fixed;
    background-image: url(imagenes_veterinarias/fondo.jpg);
}
.filtro{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
}
.Informacion_imagen_albergue2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.informacion_lugar2{
    width: 400px;
    height: 550px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgba(3, 3, 95, 0);
}
.albergue2{
    width: 100%;
    height: 570px;
    display: flex;
    align-items: center;
    background-color: rgba(11, 182, 125, 0);
    margin-bottom: 50px;

}
.Titulo_albergue2 h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-align: left;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    margin-right:5%;
}
.Horario2 h2{
    font-size: 20px;
    text-align: left;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    margin-right: 5%;
}

.Horario2 h1{
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    margin-right: 5%;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(255, 255, 255);
}
.direccion2 h1{
    font-size: 20px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-right: 5%
}
.redes_sociales_albergues2{
    width: 96%;
    height: 60px;
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
    
}

.redes_sociales_albergues2 img{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.imagen_lugar2{
    width: 550px;
    height: 500px;
    margin-top: 45px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
}
.imagen_lugar2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.imagen_lugar3{
    width: 550px;
    height: 500px;
    margin-top: 45px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: black;
    box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
}
.imagen_lugar3 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@media screen and (max-width: 1100px) {
    .albergues{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .albergue{
        width: 95%;
        height: auto;
        display: flex;
        align-items: center;
    }
    .Informacion_imagen_albergue{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagen_lugar{
        width: 400px;
        height: 300px;

    }
    .imagen_lugar img{
        width: 100%;
    }

    /*aqui se modifica la parte 2*/
    .albergue2{
        width: 95%;
        height: auto;
    }
    .fondo{
        width: 100%;
        height: auto;
    }
    .filtro{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .Informacion_imagen_albergue2{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .imagen_lugar2{
        width: 400px;
        height: 300px;
    }


    /*aqui inicia la seccion 3*/
    .imagen_lugar3{
        width: 400px;
        height: 300px;
        margin-top: 0;
    }
}


@media screen and (max-width: 450px) {
    /*aqui se modifica seccion 1*/
    .albergue{
        width: 100%;
        height: auto;
        
    }
    .linea_albergues{
        margin-top: 430px;
        width: 95%;
    }
    .linea_albergues h1{
        font-size: 15px;
    }
    .alberguesTitulo{
        width: 60%;
        border-bottom : 2px solid black;
    }
    .alberguesTitulo h1{
        font-size: 15px;
    }
    .Informacion_imagen_albergue{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .informacion_lugar{
        width: 100%;
    }
    .Titulo_albergue{
        width: 100%;
        height: 70px;
        margin-top: 10px;
    }
    .Titulo_albergue h1{
        font-size: 20px;
        font-family: 'Noto Sans', sans-serif;
        margin-right:0;
    }
    .Horario h1{
        font-size: 18px;
        margin-top: 1px;
        margin-right: 0;
    }
    .Horario h2{
        font-size: 18px;
        margin-right: 0;
    }   
    .direccion h1{
        font-size: 18px;
        margin-right: 0;
    }

    .Mapa{
        width: 100%;
    }
    .Mapa iframe{
        width: 100%;
    }
    .imagen_lugar{
        width: 100%;
        height: 300px;

    }
    .imagen_lugar img{
        width: 100%;
    }

    /*aqui se modifica la segunda seccion*/
    .albergue2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .Informacion_imagen_albergue2{
        width: 95%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .informacion_lugar2{
        width: 100%;
    }
    .Titulo_albergue2{
        width: 100%;
        height: 70px;
        margin-top: 10px;
    }
    .Titulo_albergue2 h1{
        font-size: 20px;
        font-family: 'Merriweather', serif;
        margin-right:0;
    }
    .Horario2 h1{
        font-size: 18px;
        margin-top: 1px;
        margin-right: 0;
    }
    .Horario2 h2{
        font-size: 18px;
        margin-right: 0;
    }   
    .direccion2 h1{
        font-size: 18px;
        margin-right: 0;
    }

    .Mapa2{
        width: 100%;
    }
    .Mapa2 iframe{
        width: 100%;
    }
    .imagen_lugar2{
        width: 100%;
        height: 300px;

    }
    .imagen_lugar2 img{
        width: 100%;
    }

    /*aqui se modifica la seccion 3*/
    .imagen_lugar3{
        width: 100%;
        height: 300px;
    }
    .informacion_lugar3{
        width: 100%;
    }
}